.action_1 {
  --text-inner-color: rgb(210, 234, 222);
  --text-border-color: rgb(31, 134, 71);
  --plate-color: rgb(16, 212, 114);
}

.action_2 {
  --text-inner-color: rgb(203, 226, 255);
  --text-border-color: rgb(31, 77, 204);
  --plate-color: rgb(61, 161, 243);
}

.action_3 {
  --text-inner-color: rgb(226, 203, 244);
  --text-border-color: rgb(120, 31, 179);
  --plate-color: rgb(156, 43, 248);
}

.action_4 {
  --text-inner-color: rgb(246, 226, 248);
  --text-border-color: rgb(174, 91, 142);
  --plate-color: rgb(230, 145, 169);
}

.action_5 {
  --text-inner-color: rgb(255, 204, 182);
  --text-border-color: rgb(181, 43, 0);
  --plate-color: rgb(248, 95, 23);
}

.action_6 {
  --text-inner-color: rgb(247, 195, 211);
  --text-border-color: rgb(160, 0, 88);
  --plate-color: rgb(223, 31, 130);
}

.action_7 {
  --text-inner-color: rgb(225, 225, 225);
  --text-border-color: rgb(53, 53, 53);
  --plate-color: rgb(150, 150, 150);
}
