#wrapper {
  width: 100vw;
  height: 56.25vw;
  max-width: 177.778vh;
  max-height: 100vh;
  container-type: size;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  background-color: white;
}

.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 1.8cqw;
}

body {
  background-color: black;
}
