.game_options {
  width: 40cqw;
  position: absolute;
  right: 5cqw;
  top: 5cqw;
  display: grid;
  grid-template-columns: auto auto;
  overflow: scroll;

  input:read-only {
    color: rgb(170, 170, 170);
    pointer-events: none;
  }
}
