.yaku {
  width: 27cqw;
  height: 5cqw;
  position: relative;
}

.yaku_name,
.yaku_han {
  text-align: center;
}

.yaku_name {
  width: 22cqw;
  height: 5cqw;
  position: absolute;
  left: 0;
  font-size: 1.5cqw;
}

.yaku_han {
  width: 5cqw;
  height: 5cqw;
  position: absolute;
  right: 0;
  font-size: 2cqw;
}
