#table_center_info {
  width: 18cqw;
  height: 18cqw;
  position: absolute;
  left: 41cqw;
  top: 41cqw;
  border-radius: 2.5cqw;
  background-color: lightgray;
}

#table_center_info * {
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#table_center_info #wind_sub_round {
  width: 6cqw;
  height: 3cqw;
  position: absolute;
  left: 6cqw;
  top: 6cqw;
  margin: 0;
  text-align: center;
  white-space: pre;
  font-size: 2cqw;
}

#table_center_info #tiles_left {
  width: 6cqw;
  height: 3cqw;
  position: absolute;
  left: 6cqw;
  top: 9cqw;
  margin: 0;
  text-align: center;
  font-size: 2.5cqw;
}

#table_center_info #scores {
  display: contents;
}

#table_center_info .score {
  --total-width: 10cqw;
  --total-height: 2cqw;
  --border-width: 1px;
  width: calc(var(--total-width) - 2 * var(--border-width));
  height: calc(var(--total-height) - 2 * var(--border-width));
  position: absolute;
  left: 4cqw;
  top: 14cqw;
  border-radius: 0.6cqw;
  margin: 0;
  border: var(--border-width) solid darkblue;
  transform-origin: 5cqw -5cqw;
  text-align: center;
  font-size: 1.5cqw;
  background-image: radial-gradient(ellipse 90% 70%, aliceblue 50%, lightblue);
}

#table_center_info .player_indicator {
  --total-width: 2.5cqw;
  --total-height: 2.5cqw;
  --border-width: 1px;
  width: calc(var(--total-width) - 2 * var(--border-width));
  height: calc(var(--total-height) - 2 * var(--border-width));
  position: absolute;
  left: 1cqw;
  top: 14.5cqw;
  border-radius: 0.3cqw;
  border: var(--border-width) solid rgb(116, 0, 19);
  transform-origin: 8cqw -5.5cqw;
  text-align: center;
  font-size: 2cqw;
  background-image: radial-gradient(
    ellipse 90% 90%,
    rgb(255, 215, 192) 30%,
    rgb(255, 126, 103)
  );
}

#table_center_info .turn_indicator {
  width: 8cqw;
  height: 1cqw;
  position: absolute;
  left: 5cqw;
  top: 16.5cqw;
  border-radius: 0.5cqw;
  transform-origin: 4cqw -7.5cqw;
  background-color: rgb(138, 138, 138);
}

:is(.status_0) #table_center_info .turn_indicator.current_player {
  background-color: rgb(255, 136, 192);
}

:is(.status_1, .status_2) #table_center_info .turn_indicator.current_player {
  background-color: rgb(23, 230, 116);
}

:is(.status_3, .status_4, .status_5, .status_6)
  #table_center_info
  .turn_indicator.current_player {
  background-color: rgb(243, 158, 36);
}
