#hand {
  --tile-width: 5cqw;
}

#hand {
  width: calc(var(--tile-width) * 14.5);
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2%;
  z-index: 1;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.status_7 #hand {
  display: none;
}

.status_1 .hand_tile_button:nth-child(3n + 2):nth-last-child(1) {
  margin-left: calc(var(--tile-width) / 2);
}

.hand_tile_button {
  width: var(--tile-width);
  height: calc(var(--tile-width) * 1.8);
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
}

#hand .hand_tile_button .tile_div {
  position: absolute;
  left: 0;
  bottom: 0;
}

#hand .hand_tile_button:hover .tile_div {
  bottom: unset;
  top: 0;
}
