#hand {
  --tile-width: 5cqw;
}

#hand {
  width: calc(var(--tile-width) * 14.5);
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2%;
  z-index: 1;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  &.is_furiten {
    &::before {
      box-sizing: border-box;
      width: calc(var(--tile-width) * 4 / 3);
      height: calc(var(--tile-width) * 4 / 3);
      position: absolute;
      left: calc(var(--tile-width) * -4 / 3);
      padding: calc(var(--tile-width) / 6);
      content: "Furi\Aten";
      text-align: right;
      white-space: pre;
      font-family: "Chiron GoRound TC", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
      font-size: 1.96cqw;
      color: white;
      background-image: linear-gradient(
        to left,
        rgb(204, 25, 13) 40%,
        transparent
      );
    }
  }

  .hand_tile_button {
    width: var(--tile-width);
    height: calc(var(--tile-width) * 1.8);
    position: relative;
    border: none;
    padding: 0;
    background-color: transparent;

    &.drawn_tile {
      margin-left: calc(var(--tile-width) / 2);
    }

    &:disabled {
      .tile_2d.tile_div::after {
        background-color: rgb(0, 0, 0, 20%);
      }
    }

    .tile_div {
      position: absolute;
      left: 0;
      bottom: 0;
    }
    &:hover .tile_div {
      bottom: unset;
      top: 0;
    }
  }
}

.status_7 #hand {
  display: none;
}
