.tile_3d {
  --tile-height: calc(var(--tile-width) * 4 / 3);
  --tile-depth: calc(var(--tile-width) * 2 / 3);
  --tile-border-width: 1px;
  width: var(--tile-width);
  height: var(--tile-height);
  transform-origin: left top;
  transform-style: preserve-3d;

  &.is_new {
    --tile-front-color: color-mix(in oklab, rgb(243, 158, 36) 20%, white);
    .tile_3d_extra_transform::before {
      display: block;
      width: calc(var(--tile-width) * 6 / 3);
      height: calc(var(--tile-width) * 7 / 3);
      position: absolute;
      left: calc(var(--tile-width) * -1.5 / 3);
      top: calc(var(--tile-width) * -1.5 / 3);
      content: "";
      border-image-width: calc(var(--tile-width) * 1.5 / 3);
      border-image-source: radial-gradient(rgb(243, 158, 36), transparent 65%);
      border-image-slice: 49%;
      animation: 0.6s infinite alternate fadeInAnimation;
    }
  }

  &.is_called,
  &.is_added_kan,
  &.is_closed_kan {
    display: none;
  }

  &.is_first_riichi {
    width: var(--tile-height);

    .tile_3d_extra_transform {
      transform: translateY(3.5cqw) rotateZ(-90deg);
    }
  }

  .tile_3d_extra_transform {
    width: var(--tile-width);
    height: var(--tile-height);
    transform-origin: top left;
    transform-style: preserve-3d;

    .tile_face {
      position: absolute;
      background-color: var(--tile-front-color);
      transform-origin: left top;
      backface-visibility: hidden;

      &::after {
        content: "";
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border: var(--tile-border-width) solid var(--tile-border-color);
        background-color: rgba(0, 0, 0, var(--tile-face-darken-percent));
      }
    }

    .tile_left,
    .tile_right,
    .tile_top,
    .tile_bottom {
      --tile-face-darken-percent: 8%;
      height: var(--tile-depth);
      background-image: linear-gradient(
        var(--tile-front-color) 70%,
        var(--tile-back-color) 70%
      );
    }

    .tile_back {
      --tile-face-darken-percent: 8%;
      width: var(--tile-width);
      height: var(--tile-height);
      background-color: var(--tile-back-color);
      transform: translate3d(0, var(--tile-height), 0) rotateX(180deg);
    }

    .tile_left {
      width: var(--tile-height);
      transform: translate3d(0, 0, var(--tile-depth)) rotateZ(90deg)
        rotateX(-90deg);
    }

    .tile_right {
      width: var(--tile-height);
      transform: translate3d(
          var(--tile-width),
          var(--tile-height),
          var(--tile-depth)
        )
        rotateZ(-90deg) rotateX(-90deg);
    }

    .tile_top {
      width: var(--tile-width);
      transform: translate3d(var(--tile-width), 0, var(--tile-depth))
        rotateZ(180deg) rotateX(-90deg);
    }

    .tile_bottom {
      width: var(--tile-width);
      transform: translate3d(0, var(--tile-height), var(--tile-depth))
        rotateX(-90deg);
    }

    .tile_front {
      --tile-face-darken-percent: 0%;
      width: var(--tile-width);
      height: var(--tile-height);
      transform: translateZ(var(--tile-depth));

      .tile_image {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}
