.pattern {
  width: 27cqw;
  height: 5cqw;
  position: relative;

  .display_name,
  .han {
    text-align: center;
  }

  .display_name {
    width: 22cqw;
    height: 5cqw;
    position: absolute;
    left: 0;
    font-size: 1.5cqw;
  }

  .values {
    height: 5cqw;
    position: absolute;
    right: 0;
    font-size: 2cqw;
  }
}
