#win_totals {
  width: 84cqw;
  height: 5cqw;
  margin: 2.5cqw;
  display: grid;
  grid-template-columns: auto 10cqw 10cqw 10cqw 3cqw 10cqw;
}

#win_player {
  grid-column: 1;
  justify-self: start;
  font-size: 2cqw;
}

#total_han {
  grid-column: 2;
  justify-self: end;
  font-size: 2cqw;
}

#tsumo_or_ron {
  grid-column: 3;
  justify-self: end;
  font-size: 2cqw;
}

#total_score {
  grid-column: 4;
  justify-self: end;
  font-size: 3cqw;
}

#see_results {
  grid-column: 6;
  font-size: 2cqw;
}
