#player_names {
  display: contents;
}

.player_name {
  width: 8cqw;
  height: 1.3cqw;
  position: absolute;
  transform: none !important;
  z-index: 1;
  background-color: rgba(50, 50, 50, 70%);
  text-align: center;
  color: white;
  font-size: 1cqw;
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.me_player_0 .player_name.player_0,
.me_player_1 .player_name.player_1,
.me_player_2 .player_name.player_2,
.me_player_3 .player_name.player_3 {
  left: 20cqw;
  top: 43cqw;
}

.me_player_0 .player_name.player_1,
.me_player_1 .player_name.player_2,
.me_player_2 .player_name.player_3,
.me_player_3 .player_name.player_0 {
  left: 88cqw;
  top: 20cqw;
}

.me_player_0 .player_name.player_2,
.me_player_1 .player_name.player_3,
.me_player_2 .player_name.player_0,
.me_player_3 .player_name.player_1 {
  left: 70cqw;
  top: 8cqw;
}

.me_player_0 .player_name.player_3,
.me_player_1 .player_name.player_0,
.me_player_2 .player_name.player_1,
.me_player_3 .player_name.player_2 {
  left: 2cqw;
  top: 20cqw;
}
