.win_hand {
  height: calc(1.5 * var(--tile-width));
  position: relative;
  display: flex;

  .win_tiles > :last-child {
    margin-left: calc(0.5 * var(--tile-width));
  }

  .call {
    margin-left: calc(0.5 * var(--tile-width));
  }

  .win_flowers {
    position: absolute;
    right: 0cqw;
    display: flex;
    flex-direction: row-reverse;

    &.overlap {
      top: -3cqw;
      left: 0cqw;
      right: unset;
    }
  }
}
