.game_controls {
  width: 40cqw;
  height: 46.25cqw;
  position: absolute;
  right: 5cqw;
  top: 5cqw;
  display: flex;
  flex-direction: column;

  * {
    font-family: "Chiron GoRound TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .presets {
    margin: 0cqw 0.5cqw 0.5cqw 0.5cqw;

    button {
      font-size: 1.5cqw;
    }
  }

  .game_options {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto 10cqw;
    align-content: start;
    overflow: scroll;
    padding-inline: 1cqw;

    input[type="number"]:read-only {
      color: rgb(170, 170, 170);
      pointer-events: none;
    }

    details {
      grid-column: 1/3;

      > summary {
        height: 2cqw;
        padding: 0cqw 0.3cqw 0.3cqw 0.5cqw;
        border: 0.1cqw solid black;
        background-color: rgb(227, 239, 255);
      }
    }

    .game_options_expander::details-content {
      display: grid;
      grid-template-columns: auto 10cqw;
    }
  }

  .start_game {
    width: calc(100% - 1cqw);
    height: 5cqw;
    margin: 0.5cqw;
    flex-shrink: 0;
    font-size: 2.5cqw;
  }
}
