@keyframes showAnimation {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes drawAnimation {
  from {
    visibility: hidden;
    transform: translateX(9cqw) rotateX(-90deg);
  }
  to {
    visibility: visible;
    transform: none;
  }
}

@keyframes discardAnimation {
  from {
    visibility: hidden;
    transform: translateX(9cqw);
  }
  to {
    visibility: visible;
    transform: none;
  }
}

@keyframes callAnimation {
  from {
    visibility: hidden;
    transform: translateX(-18cqw);
  }
  to {
    visibility: visible;
    transform: none;
  }
}

@keyframes addKanAnimation {
  from {
    visibility: hidden;
    transform: translateX(24cqw);
  }
  to {
    visibility: visible;
    transform: none;
  }
}

@keyframes winAnimation {
  from {
    transform: rotateX(-90deg);
  }
  30% {
    transform: translateY(4cqw) rotateX(-90deg);
  }
  to {
    transform: translateY(4cqw);
  }
}

@keyframes cutinAnimation {
  from {
    opacity: 0%;
    transform: translateX(12cqw);
    animation-timing-function: ease-out;
  }
  10% {
    opacity: 100%;
  }
  30% {
    opacity: 100%;
    transform: translateX(0cqw);
  }
  70% {
    opacity: 100%;
    transform: translateX(0cqw);
    animation-timing-function: ease-in;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    transform: translateX(-12cqw);
  }
}
