@keyframes drawAnimation {
    from {
        transform-origin: 0cqw 4cqw 2cqw;
        visibility: hidden;
        transform: translateX(9cqw) rotateX(-90deg);
    }
    to {
        transform-origin: 0cqw 4cqw 2cqw;
        visibility: visible;
        transform: none;
    }
}

@keyframes discardAnimation {
    from {
        visibility: hidden;
        transform: translateX(9cqw);
    }
    to {
        visibility: visible;
        transform: none;
    }
}

@keyframes callAnimation {
    from {
        visibility: hidden;
        transform: translateX(-18cqw);
    }
    to {
        visibility: visible;
        transform: none;
    }
}

@keyframes addKanAnimation {
    from {
        visibility: hidden;
        transform: translateY(-24cqw);
    }
    to {
        visibility: visible;
        transform: none;
    }
}
