#name_form, #join_room_form, #create_room_form {
    width: 40cqw;
    margin-inline: auto;
    margin-block: 5cqw;
}

.screen {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 1.8cqw;
}

#name_form > div {
    margin: 2cqw;
}

#room_list {
    width: 40cqw;
    height: 20cqw;
}

#join_room_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1cqw;
}