#table_hands {
    display: contents;
}

.table_hand_outer {
    --table-hand-left: 26cqw;
    --table-hand-bottom: 15cqw;
    width: 0;
    height: 0;
    position: absolute;
    left: var(--table-hand-left);
    bottom: var(--table-hand-bottom);
    transform-origin: 
        calc(50cqw - var(--table-hand-left))
        calc(var(--table-hand-bottom) - 50cqw);
    transform-style: preserve-3d;
}

.table_hand {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    transform-origin: left bottom;
    transform: rotateX(-90deg);
    transform-style: preserve-3d;
}

.table_hand .tile_div {
    transform-origin: 0cqw 4cqw 2cqw;
}

.table_hand.won_hand {
    transform: none;
}

#round_info.me_player_0:not(.status_7) .table_hand_outer.player_0,
#round_info.me_player_1:not(.status_7) .table_hand_outer.player_1,
#round_info.me_player_2:not(.status_7) .table_hand_outer.player_2,
#round_info.me_player_3:not(.status_7) .table_hand_outer.player_3 {
    display: none;
}

#round_info.status_1 .table_hand .tile_div:nth-child(3n + 2):nth-last-child(1),
#round_info.status_7 .table_hand .tile_div:nth-child(3n + 2):nth-last-child(1) {
    margin-left: calc(var(--tile-width));
}