#actions {
  width: 60cqw;
  position: absolute;
  right: 15cqw;
  bottom: 10cqw;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
}

#actions .action_button {
  width: 15cqw;
  height: 5cqw;
  position: relative;
  margin: 1.5cqw;
  border: none;
  background-color: transparent;
  font-family: "Racing Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5cqw;
  color: var(--text-inner-color);
}

#actions .action_button::before {
  --plate-top-color: color-mix(
    in srgb,
    var(--text-inner-color) 40%,
    var(--plate-color)
  );
  --plate-bottom-color: color-mix(
    in srgb,
    var(--text-border-color) 40%,
    var(--plate-color)
  );
  content: "";
  width: calc(100% - 1.5cqw);
  height: 75%;
  position: absolute;
  left: 0%;
  bottom: 0%;
  background-image: linear-gradient(
    var(--plate-top-color),
    var(--plate-color) 30% 80%,
    var(--plate-bottom-color)
  );
  border-right: 1.5cqw ridge var(--text-border-color);
  transform: skewX(-12deg);
}

#actions .action_button:hover::before {
  border-right: 1.5cqw solid var(--plate-top-color);
}

#actions .action_button:disabled::before {
  background-image: linear-gradient(var(--plate-top-color));
  border-right: 1.5cqw solid var(--plate-top-color);
}

#actions .action_button_text {
  position: absolute;
  top: 0%;
  left: 5%;
  -webkit-text-stroke: 1cqw var(--text-border-color);
}

#actions .action_button:disabled .action_button_text {
  -webkit-text-stroke: 1cqw var(--plate-color);
}

#actions .action_button::after {
  content: attr(data-text);
  position: absolute;
  top: 0%;
  left: 5%;
}
