.tile {
  --tile-padding: calc(var(--tile-width) * 0.02);
  --inner-tile-width: calc(
    var(--tile-width) - 2 * var(--tile-border-width) - 2 * var(--tile-padding)
  );
  --inner-tile-height: calc(
    var(--tile-height) - 2 * var(--tile-border-width) - 2 * var(--tile-padding)
  );
  width: var(--inner-tile-width);
  height: var(--inner-tile-height);
  border: var(--tile-border-width) solid var(--tile-border-color);
  padding: var(--tile-padding);
  background-color: var(--tile-front-color);
}
