:root {
  --tile-front-color: white;
  --tile-back-color: purple;
  --tile-border-color: rgba(0, 0, 0, 0.3);
}

.tile_image {
  --tile-padding: calc(var(--tile-width) * 0.02);
  box-sizing: border-box;
  width: var(--tile-width);
  height: var(--tile-height);
  padding: var(--tile-padding);
  background-color: var(--tile-front-color);
}
