#calls_list {
  display: contents;
}

.player_calls {
  --player-calls-right: 16cqw;
  --player-calls-bottom: 11cqw;
  width: 0;
  height: 0;
  position: absolute;
  right: var(--player-calls-right);
  bottom: var(--player-calls-bottom);
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  transform-origin: calc(var(--player-calls-right) - 50cqw)
    calc(var(--player-calls-bottom) - 50cqw);
  transform-style: preserve-3d;

  .call {
    display: flex;
    flex-direction: row;
    transform-style: preserve-3d;

    &.call_type_5 {
      > :nth-child(1),
      > :nth-child(4) {
        transform: translate3d(var(--tile-width), 0, var(--tile-depth))
          rotateY(180deg);
      }
    }
  }
}
