#discard_pool {
    --discard-pool-left: 20cqw;
    --discard-pool-top: 20cqw;
    width: 60cqw;
    height: 60cqw;
    position: absolute;
    left: var(--discard-pool-left);
    top: var(--discard-pool-top);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    transform-style: preserve-3d;
}
