body {
    background-color: lightgray;
}

h3, h4 {
    display: none;
}

#game_info {
    width: 100vw;
    height: 56.25vw;
    max-width: 177.778vh;
    max-height: 100vh;
    container-type: size;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    background-color: white;
}

.tile {
    width: 2.1cqw;
    height: 2.8cqw;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.042cqw;
    background-color: white;
}

#hand {
    z-index: 1;
    width: 80cqw;
    height: calc(80cqw/14 * 5/3);
    position: absolute;
    container-type: size;
    left: 0;
    right: 0;
    bottom: 5%;
    margin: auto;
}

.hand_tile_button {
    width: calc(100% / 14);
    height: 100%;
    position: relative;
    border: none;
    padding: 0;
    background-color: transparent;
}

.hand_tile_button > img {
    width: calc(84cqw/14 - 4px);
    height: calc((84cqw/14 - 4px) * 4/3);
    position: absolute;
    bottom: 0;
    left: 0;
    margin: calc(2cqw/14);
    border: 2px solid black;
    border-radius: 6px;
    padding: calc(6cqw/14);
    background-color: white;
}

.hand_tile_button:hover > img {
    bottom: unset;
    top: 0;
}

#actions {
    position: relative;
    z-index: 1;
}

#table_view {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 100cqw;
}

#table {
    width: 50cqw;
    height: 50cqw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: mediumaquamarine;
    transform: translate3d(0cqw, -5cqw, 20cqw) rotateX(45deg);
}

.player_calls {
    width: 90%;
    height: 10%;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    transform-origin: center -350%;
}

.player_calls_position_1 {
    transform: rotate(-90deg);
}

.player_calls_position_2 {
    transform: rotate(180deg);
}

.player_calls_position_3 {
    transform: rotate(90deg);
}

#discard_pool {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
}