body {
    background-color: lightgray;
}

h3, h4 {
    display: none;
}

#game_info {
    width: 100vw;
    height: 56.25vw;
    max-width: 177.778vh;
    max-height: 100vh;
    container-type: size;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    background-color: white;
}

.tile {
    --tile-height: calc(var(--tile-width) * 4/3);
    --tile-padding: calc(var(--tile-width) * 0.02);
    --inner-tile-width: calc(var(--tile-width) - 2*var(--tile-border-width) - 2*var(--tile-padding));
    --inner-tile-height: calc(var(--inner-tile-width) * 4/3);
    width: var(--inner-tile-width);
    height: var(--inner-tile-height);
    border: var(--tile-border-width) solid black;
    border-radius: calc(var(--tile-border-width) * 3);
    padding: var(--tile-padding);
    background-color: white;
}

#hand {
    --hand-width: 75cqw;
    --tile-width: calc(var(--hand-width)/14);
    --tile-border-width: 2px;
    z-index: 1;
    width: var(--hand-width);
    height: calc(var(--hand-width)/14 * 5/3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2%;
    margin: auto;
}

.hand_tile_button {
    width: calc(100% / 14);
    height: 100%;
    position: relative;
    border: none;
    padding: 0;
    background-color: transparent;
}

.hand_tile_button > .tile {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hand_tile_button:hover > img {
    bottom: unset;
    top: 0;
}

#actions {
    position: relative;
    z-index: 1;
}

#table_view {
    --table-transform: translate3d(0cqw, -4cqw, 0cqw) rotateX(50deg);
    --tile-width: 4cqw;
    --tile-border-width: 1px;
    width: 100cqw;
    height: 100cqw;
    position: absolute;
    left: 0;
    top: calc(100cqw * (9 - 16)/(2*16));
    perspective: 300cqw;
}

#table {
    width: 100cqw;
    height: 100cqw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: mediumaquamarine;
    transform: var(--table-transform);
}

#calls_list {
    --player-calls-right: 10cqw;
    --player-calls-bottom: 8cqw;
    --player-calls-transform:
        translateX(calc(100cqw - var(--player-calls-right)))
        translateY(calc(100cqw - var(--player-calls-bottom)))
        ;
    display: contents;
}

.player_calls, .player_calls .call {
    display: contents;
}

.player_calls_position_0 {
    --player-calls-position-transform: rotate(0deg);
}

.player_calls_position_1 {
    --player-calls-position-transform: rotate(-90deg);
}

.player_calls_position_2 {
    --player-calls-position-transform: rotate(-180deg);
}

.player_calls_position_3 {
    --player-calls-position-transform: rotate(-270deg);
}

#calls_list .tile {
    position: absolute;
    right: 50cqw;
    bottom: 50cqw;
    transform-origin: right bottom;
    transform:
        var(--table-transform)
        var(--player-calls-position-transform)
        var(--player-calls-transform)
        translateX(calc(-1 * var(--player-calls-tile-x-index) * var(--tile-width)))
        translate(-50cqw,-50cqw)
        ;
}

#discard_pool {
    --discard-pool-left: 20cqw;
    --discard-pool-top: 20cqw;
    --discard-pool-transform: 
        translate(var(--discard-pool-left), var(--discard-pool-top));
    display: contents;
}

#discard_pool .tile {
    position: absolute;
    left: 50cqw;
    top: 50cqw;
    transform-origin: left top;
    transform:
        var(--table-transform)
        var(--discard-pool-transform)
        translateX(calc(var(--discard-tile-x-index) * var(--tile-width)))
        translateY(calc(var(--discard-tile-y-index) * var(--tile-height)))
        translate(-50cqw,-50cqw)
        ;
}