#table_view {
    width: 100cqw;
    height: 100cqw;
    position: absolute;
    left: 0;
    top: calc(100cqw * (9 - 16)/(2*16));
    perspective: 300cqw;
}

#table {
    --tile-width: 4cqw;
    --table-transform: translate3d(0cqw, -4cqw, 0cqw) rotateX(53deg);
    width: 100cqw;
    height: 100cqw;
    background-color: mediumaquamarine;
    transform: var(--table-transform);
    transform-style: preserve-3d;
}

#table_view .tile_div {
    transform-style: preserve-3d;
}

#table_view .tile_face {
    position: absolute;
    background-color: var(--tile-front-color);
    transform-origin: left top;
    backface-visibility: hidden;
}

#table_view .tile {
    transform: translateZ(var(--tile-depth));
}

#table_view .tile_left {
    width: var(--tile-depth);
    height: var(--tile-height);
    transform: rotateY(-90deg);
}

#table_view .tile_left::before {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--tile-back-color);
}

#table_view .tile_right {
    width: var(--tile-depth);
    height: var(--tile-height);
    transform: translate3d(var(--tile-width), 0, var(--tile-depth)) rotateY(90deg);
}

#table_view .tile_right::before {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: var(--tile-back-color);
}

#table_view .tile_top {
    width: var(--tile-width);
    height: var(--tile-depth);
    transform: rotateX(90deg);
}

#table_view .tile_top::before {
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
    background-color: var(--tile-back-color);
}

#table_view .tile_bottom {
    width: var(--tile-width);
    height: var(--tile-depth);
    transform: translate3d(0, var(--tile-height), var(--tile-depth)) rotateX(-90deg);
}

#table_view .tile_bottom::before {
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background-color: var(--tile-back-color);
}

#table_view .tile_side::after {
    content: "";
    width: calc(100% - 2*var(--tile-border-width));
    height: calc(100% - 2*var(--tile-border-width));
    position: absolute;
    border: var(--tile-border-width) solid var(--tile-border-color);
    background-color: rgba(0,0,0,var(--tile-side-darken-percent));
}
