---
name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    runs-on: ubuntu-latest
    needs:
      - build

    environment: pypi
    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/download-artifact@v5
        with:
          name: zundamahjong-dist
          path: dist

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/zundamahjong-*-py3-none-any.whl
            dist/zundamahjong-*.tar.gz

      - name: Publish package to PyPI
        if: github.repository == 'faraplay/zundamahjong'
        uses: pypa/gh-action-pypi-publish@release/v1
